.parent-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 100%;
}

.child-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.input-flex {
  display: flex;
  flex-direction: row;
  margin-left: -0.5em;
}

.members-input-flex {
  display: flex;
  flex-direction: row;
  margin-left: -3em;
}

#user-input, #space-input {
  height: 1.5em;
}

#user-button, #space-button{
  margin-left: 0.3em;
}

#user-box, #space-box, #member-box {
  margin-bottom: 0.5em;
  margin-top: -0.5em;
}

#membership-box {
  margin-bottom: 0.5em;
  margin-top: -0.5em;
  margin-left: 0.8em;
}

#user-remove-button, #space-remove-button {
  margin-left: 0.5em;
  margin-right: 3em;
}

#member-input-username, #member-input-spacename {
  margin-right: 0.5em;
  height: 1.5em;
}

#member-button {
  margin-left: -0.2em;
}

#member-remove-button {
  margin-left: -1em;
  margin-right: 3em;
  width:fit-content;
}
